

{% extends 'base.html' %}


{% block head %}
<title>Password</title>
{% endblock %}

{% block body %}
<div class="container">
    <form  method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Submit</button>
        <button type="submit"><a href="{% url 'home:home' %}">Cancel</a></button>
    </form>
    <div>

    </div>
    <form action="{% url 'home:home_home'  %}">
      <input type="checkbox" id="fir" name="vehicle1" value="True"> Upper case<br>
      <input type="checkbox" id="sec" name="vehicle2" value="True"> With symbols<br>
      <input type="checkbox" id="thi" name="vehicle3" value="True"> With numbers<br>
      <input type="checkbox" id="fou" name="vehicle4" value="True"> With word<br>
       Length:  <input type="text" id="fiv" name="Length" size="2" a><br>

       <p></p>
         <button type="submit" onclick="myFunction()" >Generate new pin</button>
    </form>
        <!--<p> {{ pin }}</p>-->
</div>
<script>
function myFunction() {
    var checkBox1 = document.getElementById("fir");
    var checkBox2 = document.getElementById("sec");
    var checkBox3 = document.getElementById("thi");
    var checkBox4 = document.getElementById("fou");
    var checkBox5 = document.getElementById("fiv");

    if (checkBox1.checked === false){
        $.ajax({
        data: {
            'vehicle1' : checkBox1,
            'vehicle2' : checkBox2,
            'vehicle3' : checkBox3,
            'vehicle4' : checkBox4,
            'Length' : checkBox5,
        },
        url: '/password/create/generate/',
       // dataType: 'json',
        success: function (data) {
          if (data.new_pin ) {
            alert("new passwordGenerator generate");
          }
        }
    });
    }

}
</script>

{% endblock %}

